<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex02.student.mapper.CourseMapper">
    <select id="selectCourseByCno" parameterType="int" resultType="com.ex02.student.po.Course">
		select * from course where cno=#{cno};
	</select>
    <select id="selectCourseByCname" parameterType="String" resultType="com.ex02.student.po.Course">
		select * from course where cname like concat('%',#{cname},'%');
	</select>
    <insert id="insertCourse" parameterType="com.ex02.student.po.Course">
		insert into course(cno,cname,period) values(#{cno},#{cname},#{period});
	</insert>
    <delete id="deleteCourse" parameterType="int">
		delete from course where cno=#{cno}
	</delete>
    <update id="updateCourse" parameterType="com.ex02.student.po.Course">
		update course set cname=#{cname},period=#{period} where cno=#{cno}
	</update>
</mapper>
