<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex02.student.mapper.StudentMapper">
    <select id="selectStudentBySno" parameterType="String" resultType="com.ex02.student.po.Student">
		select * from stu where sno=#{sno};
	</select>
    <select id="selectStudentBySname" parameterType="String" resultType="com.ex02.student.po.Student">
		select * from stu where sname like concat('%',#{sname},'%');
	</select>
    <insert id="insertStudent" parameterType="com.ex02.student.po.Student">
		insert into stu(sno,sname,ssex,snative,mno) values(#{sno},#{sname},#{ssex},#{snative},#{mno});
	</insert>
    <delete id="deleteStudent" parameterType="String">
		delete from stu where sno=#{sno}
	</delete>
    <update id="updateStudent" parameterType="com.ex02.student.po.Student">
		update stu set sname=#{sname},ssex=#{ssex},snative=#{snative},mno=#{mno} where sno=#{sno}
	</update>
	<select id="selectStudent" parameterType="Student" resultType="Student">
		select * from stu
		<where>
			<choose>
				<when test="sno != null and sno != ''">
					sno = #{sno}
				</when>
				<otherwise>
					<choose>
						<when test="sname != null and sname != ''">
							<bind name="search_sname_key" value="'%' + sname + '%'"/>
							sname like #{search_sname_key}
						</when>
						<otherwise>
							snative is not null
						</otherwise>
					</choose>
				</otherwise>
			</choose>
		</where>
	</select>
	<select id="selectStudentBySnames" parameterType="List" resultType="Student">
		select * from stu where sname in
		<foreach item="sname" index="index" collection="list" open="(" separator="," close=")">
			#{sname}
		</foreach>
	</select>

	<select id="selectStudentScoresBySno" parameterType="String" resultMap="StudentMap">
		select * from stu c left join sc b on c.sno = b.sno where  c.sno=#{value};
	</select>
	<resultMap type="Student" id="StudentMap">
		<id property="sno" column="sno"/>
		<result property="sname" column="sname"/>
		<result property="ssex" column="ssex"/>
		<result property="snative" column="snative"/>
		<result property="mno" column="mno"/>
		<collection property="listScore" ofType="Score">
			<id property="sno" column="sno"/>
			<result property="cno" column="cno"/>
			<result property="tno" column="tno"/>
			<result property="participation" column="participation"/>
			<result property="final1" column="final1"/>
			<result property="total" column="total"/>
		</collection>
	</resultMap>



</mapper>
